
.true,
.toggle-false {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    margin: 5px;
    border-radius: 5px;
    padding: 5px;
}

.b-paragraph {
    background-color: lightgreen;
    border: 1px solid darkgreen;
    width: 400px;
    border-radius: 5px;
    padding: 5px;
}

.toggle-true,
.false {
    color: red;
    background-color: yellow;
    border: 1px solid orange;
    border-radius: 5px;
    margin: 5px;
    padding: 5px;
}

.a-paragraph {
    width: 400px;
    color: red;
    background-color: yellow;
    border: 1px solid orange;
    border-radius: 5px;
    padding: 5px;
}